# Python bytecode files
*.pyc

# Python cache folders
__pycache__/

# Build and distribution folders
build/
dist/

# Egg files and folders (Python package metadata)
*.egg
*.egg-info/

# Jupyter Notebook checkpoint folders
.ipynb_checkpoints/

# macOS resource fork files
._*

# Pytest cache
.pytest_cache/
